:root {
  --containerColor: rgb(255, 255, 255);
  --bgColor: rgb(233, 153, 111);
  --completada: rgb(124, 129, 124);
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--bgColor);
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 40%;
  top: 50%;
  left: 50%;
  background: var(--containerColor);
  border-radius: 10px;
  min-width: 450px;
  position: absolute;
  min-height: 100px;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#nuevaTarea {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}
#nuevaTarea input {
  width: 50%;
  height: 35px;
  padding: 12px;
  color: #111111;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border: 2px solid #d1d3d4;
}

#nuevaTarea input:focus {
  outline: none;
  border-color: #0d75ec;
}
#nuevaTarea button {
  position: relative;
  /* float: right; */
  font-weight: 500;
  font-size: 16px;
  background-color: #0d75ec;
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  /* width: 15%; */
  max-width: fit-content;
  padding-inline: 0.7em;
  height: 45px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

.tareas {
  max-height: fit-content;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #ffffff;
  max-height: 50vh;
  overflow-y: scroll;
  /* padding-block-start: 20px; */
  /* margin-top: 10px; */
}

#bottom{
  display: flex;
  overflow: hidden;
}

#bottom hr {
  width: 100%;
  padding-bottom: 0;
}

#tareaMasRapida{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 0.5em;
}

#tareaMasRapida h3{
  margin-top: 0;
}

.icono {
  color: white;
  font-size: 1.5em;
  background-color: rgb(167, 6, 6);
  padding: 0.5em;
  border-radius: 10%;
  cursor: pointer;
}

.tarea {
  background-color: #c5e1e6;
  height: 50px;
  width: 90%;
  margin-bottom: 8px;
  padding: 5px 10px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #939697;
}

.tarea span {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.tarea input {
  position: relative;
  width: 25px;
  height: 25px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.textoTarea {
  width: 90%;
  margin-left: 20px;
}

.completada {
  background-color: var(--completada);
}

.completada p {
  text-decoration: line-through;
}

.completada input {
  pointer-events: none;
}

#bottom{
  visibility: hidden;
}

.mas-rapida{
  background-color: rgb(70, 238, 70);
}