body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    height: 100vh;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    transform: translateX(10%);
    background-color: red;
    align-items: center;
}

.input-buscar {
    
}